<%= form_with(url: weather_show_path, method: :post, local: false, html: { class: "address-form" }) do |form| %>
  <div class="form-section">
    <%= form.label :address, "Search by City or Zipcode:" %>
    <%= text_field_tag :address, nil, id: 'address-input', autocomplete: 'off' %>
  </div>
  
  <%= form.hidden_field :city, id: 'city-field', class: "hidden" %>
  <%= form.hidden_field :state, id: 'state-field', class: "hidden" %>
  <%= form.hidden_field :zipcode, id: 'zipcode-field', class: "hidden" %>
  <%= form.submit "Check Weather", id: "submit-button", class: "btn", disabled: true %>
<% end %>
<div id="weather_result"></div>